body {
    text-align: center;
    color: #DAD7CD;
    font-family: Arial, sans-serif;
    background-color: #344E41;
    font-size: 1.2em;
}

button {
    background-color: #A3B18A;
    color: #344E41;
    padding: 10px 20px;
    border: 1px solid #DAD7CD;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #DAD7CD;
}