body {
    text-align: center;
    font-family: 'Arial', sans-serif; /* Use a web-safe font as a fallback */
    background-color: #344E41;
}
.logo {
    width: 80%;
    height: auto;
}

/* Media Queries for smaller devices */
@media (max-width: 768px) {
    .title {
        font-size: 6vh; /* Smaller font size on smaller screens */
    }
    .container {
        padding: 20px; /* Less padding on smaller screens */
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 5vh; /* Even smaller font for very small devices */
    }
}
